h1 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-left: -40px;
}

hr {
    display: none;
}

.container {
    margin-top: 100px;
    width: 60%;
    text-align: center;
}

.btn {
    background-color: #4B326D;
    color: white;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #250e43;
    color: white;
}

#outcome {
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}

#question {
    text-align: left;
}

#completed-quiz {
    text-align: left;
    display: none;
}